
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 62.5%;
    min-height: 100vh;
    background-color: #f9f9f9;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input, textarea, button, select, label {
    font: 1em -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    webkit-flex-direction: column;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.text-center{
    text-align: center;
}
.title{
    background-color: #d94e44;
    color: #fff;
    padding: 10px;
    font-weight:600;
    font-size: 1.6em;
}
.menu{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-bottom:1px solid #d6d4d4;
    font-size: 1.4em;
}

section:first-child{
    margin-top:25px;
}

section section{
    margin: 0 0 25px 0;
}

.new-recipe{
    color: #db4d3f;
    flex-basis: 50%;
    text-align: center;
    align-self: center;
}

.new-recipe a{
    cursor: pointer;
}
.new-recipe a:hover{
    color:rgba(219, 77, 63, 0.8);
}

.select-recipe{
    flex-basis: 50%;
    text-align: center;
    border-left: 1px solid #d6d4d4;
    padding: 10px 0;

}
select{
    border: 0.5px solid #d6d4d4;
    border-radius: 5px;
    padding: 10px;
}

select:after{

    background-color: transparent;
    color: #000;
    content: '<>';
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/

    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */

    position: absolute;
    pointer-events: none;
}

/*form*/
form{
    max-width:1000px;
    margin:0 auto;
}
section.content{
    background-color:#f6f4f4;
    padding: 15px;
    font-size: 1.3em;
    font-weight: 600;
}

section.content label{
    font-weight: 600;
}

section header{
    background-color: #db4d3f;
    color: #fff;
    padding: 10px;
    font-size: 1.4em;
}

textarea{
    min-width: 100%;
    max-width:100%;
    min-height: 50px;
}

form input[type=text],
form input[type=number]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:none;
    box-sizing: border-box;
}
form textarea{
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border:none;
    margin-top: 10px;
}

.recipe-options{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-options .fa-plus-square{
    color: #db4d3f;
    border: 1px solid #db4d3f;
    padding: 10px;
    border-radius: 3px;
}

input[name="quantity"]{
    width:50%;
}
input[name="ingredient"]{
    width:70%;
}

.ingredients-list div{
    padding: 5px 0px;
}

.ingredients-list .fa-angle-double-right{
    font-weight:500;
    color:#db4d3f;
}

ol{
    padding-left:15px;
}
.box ul li{
    list-style-type: none;
}

.buttons{
    padding-top: 15px;
}

.buttons .btn{
    width: 100%;
    background-color: #fff;
    border: 1px solid #db4d3f;
    color: #db4d3f;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
}
.buttons .btn:hover{
    width: 100%;
    background-color: #db4d3f;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    outline:none;
}

/*footer*/

.control-buttons{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin:0 auto;
    margin-bottom:50px;
}
.control-buttons .btn{
    width: 50%;
    background-color: #fff;
    border: 1px solid #db4d3f;
    color: #db4d3f;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
}

.control-buttons .btn-inverted{
    background-color: #db4d3f;
    color: #fff;
}

.control-buttons .btn:hover{
    width: 50%;
    background-color: #db4d3f;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    outline:none;
}
.control-buttons .btn-inverted:hover{
    background-color: #fff;
    color: #db4d3f;
}

/*Media queries*/
@media screen and (max-width: 499px) {
    .hidden-500-less {
        display: none;
    }
    input[name="quantity"]{
        width:50%;
    }
    input[name="ingredient"]{
        width:70%;
    }
    select.unit{
        margin-right: 10px;
    }
    form input[type=text], form input[type=number] {
        padding: 12px 7px;
    }
}